@import "../../variables";

.titles {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2;
  text-align: center;

  h1, h2 {
    font-weight: 300;
  }

  h1 {
    font-size: 5vmax;
  }

  h2 {
    font-size: 3.5vmax;
  }

}
