.contents {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 3;
  text-align: center;
}

.contents hr,
.contents p {
  font-size: 2.5vmax;
  margin-bottom: 1em;
  line-height: 1.25;
}

@media screen and (max-width: 1000px) {
  .contents hr,
  .contents p {
    font-size: 3vmax;
  }
}
