@import "../../variables";

.contents {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 3;
  text-align: center;

  hr, p {
    font-size: 2.5vmax;
    margin-bottom: 1em;
    line-height: 1.25;
    text-shadow: 0px 0px 1px #000;

    @media screen and (max-width: 1000px) {
      font-size: 3vmax;
    }
  }

}
