@import "../../variables";

.icon {
  max-height: 100px;
  max-width: 100px;
  margin: auto;

  .devicon {
    max-width: 100%;
    font-size: 8vmax;
  }

  .ext-link {
    font-weight: 700;
    color: $white;
  }

}
