@import "../../variables";

.icon {
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  .devicon {
    max-width: 100%;
    font-size: 8vmax;
  }

  .label {
    margin-top: 0.5em;
  }

}
