.heading {
  grid-column-start: 2;
  grid-column-end: -2;
  grid-row-start: 2;
  text-align: center;
}

.heading h1 {
  font-family: var(--font-playfair);
  font-style: italic;
  font-size: 5.5vmax;
  font-weight: 700;
}
